{% extends "inventario/adm_productotiendavirtual/basetv.html" %}
{% load extras %}
{% block atras %}/{% endblock %}
{% block extraheading %}
    <script>
        $(function () {
            $("#cantidadStock").keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    $("#adicionarStock").click();
                }
            });

            function realizarOperacion(action, id, cantidad, observacion, successMessage, errorMessage) {
                $.ajax({
                    type: "POST",
                    url: "/productotiendavirtual",
                    data: {'action': action, 'id': id, 'cantidad': cantidad, 'observacion': observacion},
                    success: function (data) {
                        $.unblockUI();
                        if (data.result === false) {
                            Swal.fire({
                                type: "success",
                                icon: "success",
                                title: successMessage,
                                showConfirmButton: false,
                                timer: 1500
                            });
                            cerrarModal();
                            location.reload();
                        } else {
                            Swal.fire({
                                type: "error",
                                icon: "error",
                                title: errorMessage,
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    }
                });
            }

            $("#saveChanges").click(function () {
                bloqueointerface();
                var idt = $('#cantidadModal').attr('data-idt').split('_')[0];
                var tipo = $('#cantidadModal').attr('data-idt').split('_')[1];
                var cantidad = $("#cantidadStock").val();
                var observacion = $("#observacionSalida").val();

                if (cantidad > 0) {
                    if (tipo === 'aumentarstock') {
                        realizarOperacion(
                            'aumentarstock',
                            idt,
                            cantidad,
                            observacion,
                            "Has aumentado el stock exitosamente.",
                            "Ha ocurrido un error al realizar la operación."
                        );
                    } else {
                        realizarOperacion(
                            'registrarsalida',
                            idt,
                            cantidad,
                            observacion,
                            "Has registrado la salida exitosamente.",
                            "Ha ocurrido un error al registrar la salida."
                        );
                    }
                } else {
                    $.unblockUI();
                    Swal.fire({
                        type: "error",
                        icon: "error",
                        title: "Ingrese una cantidad mayor a cero.",
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            });


            $(".aumentarStock").click(function () {
                var idt = $(this).attr('idt');
                var des_ = $(this).attr('des_');
                $('#cantidadModal').attr('data-idt', idt + '_aumentarstock');
                $('#cantidadModal').modal('show');
                $('.modal-title').text('AUMENTAR STOCK: ' + des_);

            });

            $(".registrarDevolucion").click(function () {
                var idt = $(this).attr('idt');
                var des_ = $(this).attr('des_');
                $('#cantidadModal').attr('data-idt', idt + '_devolucion');
                $('#cantidadModal').modal('show');
                $('.modal-title').text('REGISTRAR SALIDA: ' + des_);
            });


            $('#cantidadModal .btn-danger').on('click', cerrarModal);
            $('#cantidadModal .close').on('click', cerrarModal);

            function cerrarModal() {
                $('#cantidadModal').modal('hide');
                $('#cantidadStock').val('');
            };
        })
    </script>
{% endblock %}
{% block content %}
    <div id="cantidadModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <div class="form-group">
                            <label for="cantidadStock">Cantidad</label>
                            <input type="number" id="cantidadStock" class="form-control">
                        </div>
                    </form>
                </div>
                <div id="textareaObservacion" class="modal-body">
                    <form id="editForm">
                        <div class="form-group">
                            <label for="observacionSalida">Observación</label>
                            <textarea id="observacionSalida" class="form-control"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="saveChanges">Adicionar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mt-1">
        <div class="card-header">
            <h4 class="mb-0"><b><i class="fa fa-cube"></i> {{ title }}</b></h4>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span12">
            <label class="label label-info" style="font-size: 13px; padding: 8px"><i class="fa fa-cubes"
                                                                                     aria-hidden="true"></i> Total reportes: <b>1</b></label>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body rounded-3">
            <div class="table-responsive">
                <table class='tabla_responsive table table-bordered table-striped'>
                    <thead class="table-light">
                    <tr>
                        <th style="text-align: center; width: 1%">Nombre</th>
                        <th style="text-align: center; width: 10%">Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: center;">Última semana concluída</td>
                        <td style="text-align: center;"><a class="btn btn-info" style="cursor: pointer;" href="{{ request.path }}?action=imprimirkardexultimasemana&id={{ l.id }}"><i class="fa fa-print"></i></a></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'paginacionb4.html' %}
{% endblock %}