<?xml version="1.0" encoding="UTF-8"?>
{% load extras %}
<factura id="comprobante" version="1.0.0">
    <infoTributaria>
        <ambiente>{{ comprobante.tipoambiente }}</ambiente>
        <tipoEmision>{{ comprobante.tipoemision }}</tipoEmision>
        <razonSocial>{{ institucion.nombre|solo_caracteres }}</razonSocial>
        <nombreComercial>{{ institucion.nombrecomercial|solo_caracteres }}</nombreComercial>
        <ruc>{{ institucion.ruc }}</ruc>
        <claveAcceso>{{ comprobante.claveacceso }}</claveAcceso>
        <codDoc>01</codDoc>
        <estab>{{ comprobante.puntoventa.establecimiento }}</estab>
        <ptoEmi>{{ comprobante.puntoventa.puntoventa }}</ptoEmi>
        <secuencial>{{ comprobante.numero_secuencial }}</secuencial>
        <dirMatriz>{{ institucion.direccion|solo_caracteres }}</dirMatriz>
    </infoTributaria>
    <infoFactura>
        <fechaEmision>{{ comprobante.fecha|date:"d/m/Y" }}</fechaEmision>
        <dirEstablecimiento>{{ comprobante.puntoventa.direccion }}</dirEstablecimiento>
{#        <contribuyenteEspecial>{{ institucion.contribuyenteespecial }}</contribuyenteEspecial>#}
        <obligadoContabilidad>SI</obligadoContabilidad>
        <tipoIdentificacionComprador>{% if comprobante.tipo == 1 %}05{% elif comprobante.tipo == 2 %}04{% elif comprobante.tipo == 3 %}06{% else %}08{% endif %}</tipoIdentificacionComprador>
        <razonSocialComprador>{{ comprobante.nombre|solo_caracteres }}</razonSocialComprador>
        <identificacionComprador>{{ comprobante.identificacion }}</identificacionComprador>
        <direccionComprador>{{ comprobante.direccion|solo_caracteres }}</direccionComprador>
        <totalSinImpuestos>{{ comprobante.total_sin_impuesto_sri }}</totalSinImpuestos>
        <totalDescuento>{{ comprobante.totaldescuento }}</totalDescuento>
        <totalConImpuestos>
            <totalImpuesto>
                <codigo>2</codigo>
                <codigoPorcentaje>{% if comprobante.ivaaplicado.codigo > 0 %}{{ comprobante.ivaaplicado.codigo }}{% else %}0{% endif %}</codigoPorcentaje>
                <baseImponible>{% if comprobante.subtotalbaseiva %}{{ comprobante.subtotalbaseiva }}{% else %}{{ comprobante.subtotalbase0 }}{% endif %}</baseImponible>
                <valor>{{ comprobante.totaliva }}</valor>
            </totalImpuesto>
        </totalConImpuestos>
        <propina>0.00</propina>
        <importeTotal>{{ comprobante.total }}</importeTotal>
        <moneda>DOLAR</moneda>
        <pagos>
            {% for pago in comprobante.getpagos %}
                <pago>
                    <formaPago>{{ pago.0 }}</formaPago>
                    <total>{{ pago.1 }}</total>
                </pago>
            {% endfor %}
        </pagos>
    </infoFactura>
    <detalles>
        {% for detalle in comprobante.pagos.all %}
            <detalle>
                <codigoPrincipal>{{ detalle.id }}</codigoPrincipal>
                <descripcion>{{ detalle.rubro.nombre|solo_caracteres }}</descripcion>
                <cantidad>{{ detalle.rubro.cantidad|floatformat:2 }}</cantidad>
                <precioUnitario>{{ detalle.get_preciounitario }}</precioUnitario>
                <descuento>{{ detalle.valordescuento }}</descuento>
                <precioTotalSinImpuesto>{% if detalle.subtotal0 %}{{ detalle.subtotal0 }}{% else %}{{ detalle.subtotaliva }}{% endif %}</precioTotalSinImpuesto>
                <impuestos>
                    <impuesto>
                        <codigo>2</codigo>
                        <codigoPorcentaje>{{ detalle.rubro.iva.codigo }}</codigoPorcentaje>
                        <tarifa>{%  if detalle.rubro.iva.codigo == 3 %}14{% elif detalle.rubro.iva.codigo == 2 %}12{% elif detalle.rubro.iva.codigo == 4 %}15{% else %}0{% endif %}</tarifa>
                        <baseImponible>{% if detalle.subtotal0 %}{{ detalle.subtotal0 }}{% else %}{{ detalle.subtotaliva }}{% endif %}</baseImponible>
{#                        <baseImponible>{{ detalle.subtotaliva }}</baseImponible>#}
                        <valor>{{ detalle.iva }}</valor>
                    </impuesto>
                </impuestos>
            </detalle>
        {% endfor %}
    </detalles>
    <infoAdicional>
        <campoAdicional nombre="correo electronico">{{ comprobante.email }}</campoAdicional>
    </infoAdicional>
</factura>