{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_cuentacontablebien,#id_cuentacontableservicio, #id_cuentacontablerentainversion").addClass("validate[required]");

            ItemsDisplay = function (item) {
                if (item.text){
                    return $('<span>' + item.text+ '</span>');
                }else{
                    if(item.name){
                        return $('<span>' + item.name+ '</span>');
                    }else {
                        return '---------';
                    }
                }
            };

            $("#id_cuentacontablebien_select2").select2({
                placeholder: "---------",
                allowClear: true,
                ajax: {
                    url: function (params) {
                        return "/reportes?action=data&model=CuentaContable&p=1&s=10&q=" + params.term;
                    },
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.results,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 1,
                templateResult: ItemsDisplay, // omitted for brevity, see the source of this page
                templateSelection: ItemsDisplay // omitted for brevity, see the source of this page
            }).on("select2:select", function (evt) {
                $("#id_cuentacontablebien").attr({"value":(evt.params.data.id)});
            });
            $("#id_cuentacontablebien").trigger('change');

            $("#id_cuentacontableservicio_select2").select2({
                placeholder: "---------",
                allowClear: true,
                ajax: {
                    url: function (params) {
                        return "/reportes?action=data&model=CuentaContable&p=1&s=10&q=" + params.term;
                    },
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.results,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 1,
                templateResult: ItemsDisplay, // omitted for brevity, see the source of this page
                templateSelection: ItemsDisplay // omitted for brevity, see the source of this page
            }).on("select2:select", function (evt) {
                $("#id_cuentacontableservicio").attr({"value":(evt.params.data.id)});
            });
            $("#id_cuentacontableservicio").trigger('change');


            $("#id_cuentacontablerentainversion_select2").select2({
                placeholder: "---------",
                allowClear: true,
                ajax: {
                    url: function (params) {
                        return "/reportes?action=data&model=CuentaContable&p=1&s=10&q=" + params.term;
                    },
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.results,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 1,
                templateResult: ItemsDisplay, // omitted for brevity, see the source of this page
                templateSelection: ItemsDisplay // omitted for brevity, see the source of this page
            }).on("select2:select", function (evt) {
                $("#id_cuentacontablerentainversion").attr({"value":(evt.params.data.id)});
            });
            $("#id_cuentacontablerentainversion").trigger('change');
        });
    </script>
{% endblock %}
{% block atras %}/tiposrubros?action=formapago{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/tiposrubros{% endblock %}
{% block form-type %}form-horizontal{% endblock %}
{% block formdestination %}/tiposrubros?action=formapago{% endblock %}
{% block formwidth %}form-l{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='asignarcuenta'/>
    <input type='hidden' name='id' value='{{ formapago.id }}'/>
{% endblock %}
{% block formback %}/tiposrubros?action=formapago{% endblock %}
{% block buttonname %}Guardar{% endblock %}