{% load extras %}

<div class="card mb-4">
    <div class="card-body rounded-3">
        <div class="table-responsive">
            <table class='tabla_responsive table table-bordered table-striped'>
                    <thead class="table-light">
                    <tr>
                        <th style="text-align: center; width: 1%">N°</th>
                        <th style="text-align: center; width: 10%">Stock</th>
                        <th style="text-align: center; width: 1%">Movimiento</th>
                        <th style="text-align: center; width: 1%">Cantidad</th>
                        <th style="text-align: center; width: 1%">Costo</th>
                        <th style="text-align: center; width: 1%">Total</th>
                        <th style="text-align: center; width: 10%">Observación</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for l in listado %}
                        <tr>
                            <td style="text-align: center;">{{ l.id }}</td>
                            <td style="text-align: left;">{{ l.stock }}</td>
                            <td style="text-align: center;">{{ l.get_movimiento_display }}</td>
                            <td style="text-align: center;">{{ l.cantidad }}</td>
                            <td style="text-align: center;">{{ l.costo|floatformat:2 }}$</td>
                            <td style="text-align: center;">{{ l.total|floatformat:2 }}$</td>
                            <td style="text-align: center;">{{ l.observacion|default:"" }}</td>
                        {% empty %}
                        <td colspan="9" style="text-align: center;">NO EXISTEN MOVIMIENTOS DE ESTE STOCK</td>
                    {% endfor %}

                    </tbody>
                </table>
        </div>
    </div>
</div>

{{ form.media|safe }}