{% extends "basebs.html" %}
{% block heading %}
    <script src="/static/bootstrap5/js/formquestion.js?0.24"></script>
    <script type="text/javascript" src="/static/js/jquery.fancybox.pack.js?v=1.0.0"></script>
    <link rel="stylesheet" href="/static/css/jquery.fancybox.css?v=1.0.0" type="text/css" media="screen"/>
    <script type="text/javascript" src='/static/js/select2.js?v=1.0.0'></script>
    <link type='text/css' rel='stylesheet' href="/static/css/select2.css?v=1.0.0"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox();
            $(".es_vendedor").change(function(){
                let values = $(this).is(":checked");
                let pk = $(this).attr('pk');
                bloqueointerface();
                $.ajax({
                    type:'POST',
                    url:'{{ request.path }}',
                    data:{
                        action:'changesellerstatus',
                        pk:pk,
                        value:values
                    },
                    success: function(response){
                        $.unblockUI();
                        if(response.ok){
                            NotificationJG.success("Se ha actualizado el estado del vendedor")
                        }else{
                            NotificationJG.error(response.error)
                        }
                    },
                    error: function (){
                        $.unblockUI();
                        NotificationJG.error("Lo sentimos, hubo problema de conexión");
                    },
                    dataType:'json'
                });
            })
        });

        $(function () {

            $("select").select2({minimumResultsForSearch: 5});

            $(".tl").tooltip({position: "center up"});


        });

        function activarfondo(id) {
            smoke.confirm("¿Está seguro de activar perfil para visualizar cursos.?", function (e) {
                if (e) {
                    $.blockUI({message: null});
                    $.post("/administrativos", {'action': 'cambiarpermisocurso', 'id': id,}, function (data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            if (data.valor == 1) {
                                $("#activado1_" + id).html('<i class="fa fa-check" style="color: #55ea55"></i>');
                            } else {
                                $("#activado1_" + id).html('<i class="fa fa-close" style="color: #c82829"></i>');
                            }
                        }
                    }, "json");
                }
            }, {
                ok: "SI,SEGURO",
                cancel: "NO,CANCELAR",
                classname: "custom-class",
                reverseButtons: true
            });
        }

        function formModal(id, text, action) {
            bloqueointerface();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    if (data.result === true) {
                        $.unblockUI();
                        $('#itemspanel .panelbody').html(data.data);
                        $('#itemspanel .paneltitle').html(text);
                        $("#itemspanel").modal({width: '700'}).modal('show');
                    } else {

                        NotificationJG.warning(data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    NotificationJG.error("Error de conexión.");
                },
                dataType: "json"
            });
        }
    </script>
{% endblock %}
{% block atras %}/{% endblock %}
{% block canvas %}

    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-header">
            <h4><i class="fa fa-list"></i> <b class="paneltitle">Registros</b></h4>
        </div>
        <div class="modal-body">
            <form id="form2" class="form-horizontal form-modal" autocomplete="off" method="post"
                  enctype="multipart/form-data" action="{{ request.path }}">
                {% csrf_token %}
                <div class="row-fluid panelbody">
                </div>
            </form>
        </div>
    </div>



    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
        </div>
    </div>

    <div class='row-fluid'>
        <div class="span12">
            <form method="GET" action="{{ request.path }}">
                <table id="tablaBusqueda" class="table table-hover tablaBusquedaSearch">
                    <tbody>
                    <tr>
                        <td>
                            <i class="fa fa-search tu" title="Criterio"></i> Criterio:<br>
                            <input class='searchinput' type='text' id='searchinput' value='{{ search }}'
                                   autocomplete="off" name="search"
                                   placeholder="Nombres, Apellidos, Cedula"/>
                            <button class="btn btn-primary" type="submit"><i
                                    class="fa fa-search"></i></button>
                            {% if url_vars %}
                                <a href="{{ request.path }}" id='allresults'
                                   class='btn btn-default'><span
                                        class="fa fa-refresh "></span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <div class="row-fluid">
        <div class='span12'>
            <a href="/pacientes?action=add" class='btn btn-success'><span class="fa fa-plus "></span>
                    <t class="hidden-phone hidden-tablet visible-desktop">Adicionar</t>
                </a>
                <a href="javascript:void(0)" onclick="formModal('','Importar pacientes','importarpacientes', true)"
                   class="btn btn-info"><i class="fa fa-file-excel"></i> Importar pacientes</a>
                <a style="cursor: pointer" href="/static/formatoexcel/pacientes/formato_pacientes.xlsx"
                   class="btn btn-success"><i class="fa fa-file-excel"></i> Descargar formato</a>
        </div>
    </div>


    <div class='row-fluid'>
        <div class='span12'>
            <label class="label label-info"><i class="fa fa-info-circle"></i> {{ administrativos_total }} Registros</label><br>

            <table class='table table-bordered table-striped'>
                <thead>
                <tr>
                    <th style="width: 30%">Nombre</th>
                    <th>Sexo</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th style="width: 250px;">Email/Tel&eacute;fono</th>
                    <th style="width: 80px;"></th>
                </tr>
                </thead>
                <tbody>
                {% for paciente in pacientes %}
                    <tr>
                        <td>{% if persona.usuario.is_superuser %}
                                <span class="label label-info tu" title="id_persona">{{ paciente.persona.id }}</span>
                            {% endif %}{{ paciente.persona }}<br>
                            <b>Identificación: </b>{{ paciente.persona.identificacion }}<br>
                            <br>
                            {% if not paciente.activo %}
                                <span class="label label-important tu" title="Perfil Desactivado">No activo</span>
                            {% endif %}
                        </td>
                        <td>{{ paciente.persona.sexo }}</td>
                        <td>{{ paciente.persona.telefono }} - {{ paciente.persona.telefono_conv }}</td>
                        <td>{{ paciente.persona.direccion }}</td>
                        <td>
                            <a href="mailto:{{ paciente.persona.correo }}">{{ paciente.persona.correo }}</a><br/>
                            {% if paciente.persona.telefono %}
                                {{ paciente.persona.telefono }}<a href='https://web.whatsapp.com/send?l=en&phone=+593{{ paciente.persona.telefono }}&text=Hola {{ paciente.persona }}'
                                   target="_blank" class="btn btn-mini btn-success tu"
                                   title="Enviar mensaje por whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
                            {% endif %}
                            <br> Fecha Nac.
                            {{ paciente.persona.nacimiento|date:"d-m-Y" }}
                        </td>
                        <td>
                            <div class="btn-group">
                                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">Acciones <span class="caret"></span></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href='/pacientes?action=edit&id={{ paciente.id }}{% if gruposelect %}&g={{ gruposelect }}{% endif %}{% if search %}&s={{ search }}{% endif %}{% if perfil %}&perfil={{ perfil }}{% endif %}'><span class="fa fa-edit"></span> Editar</a></li>
                                    </ul>
                                </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="9" style="text-align: center">NO EXISTEN REGISTROS DE PERSONAL ADMINISTRATIVO</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'paginacion.html' %}
{% endblock %}