{% extends "facturas/basetv.html" %}
{% load extras %}
{% block atras %}/{% endblock %}
{% block extraheading %}
    <script>
        function imprimir(id) {
            $.ajax({
                type: "POST",
                url: "{{ request.path }}",
                data: {'action': 'imprimirticket', 'id': id},
                success: function (data) {
                    $.unblockUI();
                    if (data.result === true) {
                        Swal.fire({
                            type: "success",
                            icon: "success",
                            title: "Enviado satisfactoriamente!",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    } else {
                        Swal.fire({
                            type: "error",
                            icon: "error",
                            title: data.mensaje,
                            showConfirmButton: false,
                            timer: 2500
                        });
                    }
                }
            });
        }

        function imprimirsignosvitales(id) {
            $.ajax({
                type: "POST",
                url: "{{ request.path }}",
                data: {'action': 'imprimirdatopaciente', 'id': id},
                success: function (data) {
                    $.unblockUI();
                    if (data.result === true) {
                        Swal.fire({
                            type: "success",
                            icon: "success",
                            title: "Enviado satisfactoriamente!",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    } else {
                        Swal.fire({
                            type: "error",
                            icon: "error",
                            title: data.mensaje,
                            showConfirmButton: false,
                            timer: 2500
                        });
                    }
                }
            });
        }

        function generarsignosvitales(id) {
            openwindow('POST', '{{ request.path }}', {
                'action': 'generardatospaciente', 'id': id
            }, '_blank');
        }

        function generarPdf(id) {
            openwindow('POST', '{{ request.path }}', {
                'action': 'imprimircomprobante', 'id': id
            }, '_blank');
        }

        function generarTicketPdf(id) {
            openwindow('POST', '{{ request.path }}', {
                'action': 'imprimirticketpdf', 'id': id
            }, '_blank');
        }

        function generarTicket(id) {
            openwindow('POST', '{{ request.path }}', {
                'action': 'generarticket', 'id': id
            }, '_blank');
        }
    </script>
{% endblock %}
{% block content %}

    <div class="card mb-3 mt-1">
        <div class="card-header">
            <h4 class="mb-0"><b><i class="fa fa-cubes"></i> {{ title }}</b></h4>
        </div>
    </div>

    <div class="row">
        <div class="mt-0 pt-0">
            <div class="col-lg-12 pb-2">
                <a href="javascript:void(0)" onclick="nuevaFactura('','NUEVA FACTURA','add', true)"
                   class="btn btn-success"><i class="fa fa-plus"></i> Adicionar venta</a>
                <a href="/pacientes" class="btn btn-info"><i class="fa fa-users"></i> Pacientes</a>
                <a href="/salidas" class="btn btn-warning"><i class="fa fa-money-bill"></i> Salidas</a>
            </div>
        </div>
    </div>

    <form method="GET">
        <div class="row">
            <div class="mt-0 pt-0">
                <input type="hidden">
                <div class="col-md-12 col-sm-12">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" placeholder="Buscar por nombre de paciente."
                               aria-label="Buscar"
                               aria-describedby="button-addon2" name="s" value="{{ s }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="button-addon2"><i
                                    class="fa fa-search"></i></button>
                            {% if url_vars %}
                                <a title="Ver todo" href="{{ request.path }}?"
                                   class="btn btn-default tr">
                                    <i class="fas fa-sync-alt"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="card mb-4">
        <div class="card-body rounded-3">
            <div class="table-responsive">
                <table class='tabla_responsive table table-bordered table-striped'>
                    <thead class="table-light">
                    <tr>
                        <th style="text-align: left;width: 15%">Info</th>
                        <th style="text-align: left;width: 20%">Paciente</th>
                        <th style="text-align: center;width: 20%">Valores</th>
                        <th style="text-align: center;width: 20%">Xml firmado</th>
                        <th style="text-align: center;width: 20%">Enviado SRI</th>
                        <th style="text-align: center;width: 20%">Autorizado SRI</th>
                        <th style="text-align: center; width: 5%"></th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for l in facturas %}
                        <tr>
                            <td style="text-align: left;">
                                {{ l.numerocompleto }}
                                <br>
                                <b>Fecha: </b> {{ l.fecha }}
                                <br>
                                {{ l.sesioncaja.caja.persona.usuario }}
                            </td>
                            <td style="text-align: left;">
                                {{ l.paciente }}
                                <br>
                                <b>Identificación: </b> {{ l.identificacion }}
                            </td>
                            <td style="text-align: center;">
                                <b>Subtotal 0: </b>$ {{ l.subtotalbase0|floatformat:2 }}<br>
                                <b>Subtotal iva: </b>$ {{ l.subtotalbaseiva|floatformat:2 }}<br>
                                <b>Iva: </b>$ {{ l.totaliva|floatformat:2 }}<br>
                                <b>Descuento: </b>$ {{ l.totaldescuento|floatformat:2 }}<br>
                                <b>Total: </b>$ {{ l.total|floatformat:2 }}
                            </td>
                            <td style="text-align: center">
                                {% if l.firmada %}
                                    <i class="fa fa-check tu" title="Firmada" style="color: green"></i>
                                {% else %}
                                    <i class="fa fa-hourglass-half tu fa-info" title="No firmada"></i>
                                    {% if l.xmlgenerado and l.xml %}
                                    <br>
                                    <a class="btn btn-info" style="cursor: pointer"
                                       onclick="ejecutar_accion('{{ l.id }}', 'Está por firmar el xml', 'firmarxml', '{{ request.path }}', 'Firmar xml')">
                                        Firmar xml
                                    </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td style="text-align: center">
                                {% if l.enviadasri %}
                                    {% if l.falloenviarsri %}
                                        <i class="fa fa-remove tu" title="{{ l.mensajeenviosri }}" style="color: red"></i>
                                        <br>
                                        <a class="btn btn-info" style="cursor: pointer"
                                       onclick="ejecutar_accion('{{ l.id }}', 'Está por enviar el xml al SRI', 'enviarsri', '{{ request.path }}', 'Enviar xml')">
                                        Enviar al SRI
                                    </a>
                                    {% else %}
                                        <i class="fa fa-check tu" title="Enviada al SRI" style="color: green"></i>
                                    {% endif %}
                                {% else %}
                                    <i class="fa fa-hourglass-half tu fa-info" title="No enviada"></i>
                                    {% if l.firmada and l.xmlfirmado %}
                                        <br>
                                        <a class="btn btn-info" style="cursor: pointer"
                                       onclick="ejecutar_accion('{{ l.id }}', 'Está por enviar el xml al SRI', 'enviarsri', '{{ request.path }}', 'Enviar xml')">
                                        Enviar al SRI
                                    </a>
                                    {% endif %}
                                {% endif %}

                            </td>
                            <td style="text-align: center">
                                {% if l.autorizada %}
                                    {% if l.falloautorizacionsri %}
                                        <i class="fa fa-remove tu" title="Error de autorización" style="color: red"></i>
                                    {% else %}
                                        <i class="fa fa-check tu" title="Autorizada" style="color: green"></i>
                                    {% endif %}
                                {% else %}
                                    <i class="fa fa-hourglass-half tu fa-info" title="No autorizada"></i>
                                    {% if l.enviadasri and not l.falloenviarsri %}
                                        <br>
                                        <a class="btn btn-info" style="cursor: pointer"
                                       onclick="ejecutar_accion('{{ l.id }}', 'Está por enviar a autorizar el xml en el SRI', 'autorizarsri', '{{ request.path }}', 'Autorizar en SRI')">
                                        Autorizar en SRI
                                    </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td style="text-align: center; width: 5%;">
                                <a href="javascript:void(0);" class="btn-icon btn btn-ghost btn-sm rounded-circle"
                                   data-bs-toggle="dropdown" data-offset="-140" aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                <div class="dropdown-menu" style="">
                                    {% if not l.autorizada %}
                                    <a class="dropdown-item" style="cursor: pointer"
                                       onclick="ejecutar_accion('{{ l.id }}', 'Está por reiniciar el xml', 'reiniciarxml', '{{ request.path }}', 'Reiniciar xml')">
                                        <i class="fa fa-history dropdown-item-icon" aria-hidden="true"></i>
                                        Reiniciar XML
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <td colspan="9" style="text-align: center;">NO EXISTEN COMPROBANTES</td>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'paginacionb4.html' %}
    </div>
{% endblock %}